<div id='wrapper'>
  <h1>Repo <%= params[:repo_name]%> Summary</h1>
  <% flash.each do |message_type,message| %>
    <div class="alert alert-<%= message_type %>"><%= message %> </div>
  <% end%>
  <div id='chart'>
    <% @repo_data.each do |repo| %>
      <% repo[:languages].each do |lang|%>
        <p><%= lang[:name] %></p>
        <div class='bar' style="width:<%= lang[:percentage] %>% ">
          <span class='percentage-text'><%= lang[:percentage] %>%</span>
        </div>
      <% end %>
    <% end %>
  </div>
<div>
